
/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Monospace', sans-serif;
}
*/

html, body{
  display: grid;
  height: 100%;
  place-items: center;
}
 
.content {
  max-width: 500px;
  margin: auto;
}
  

.neon-button {
    text-color: #FFFDD0;
    font-family: "Comic MS sans", cursive;
    display: inline-block;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 50px #FFFDD0,
        0 0 50px #FFFDD0;
    justify-content: center; 
    text-align: center; 
    background-color: #FFFDD0;
    font-size: 40px;
    border-radius: 20px;
    border: 3px;
    border-color: #000000;
    cursor: pointer;
  
  
  }
  /*
  
.neon-button {
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
        
}
*/ 

.neon-button: hover { 
    box-shadow: 0 0 50px #FFFDD0,
        0 0 50px #FFFDD0, 0 0 50px #FFFDD0,
        0 0 50px #FFFDD0, 0 0 50px #FFFDD0;
}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
      
