
/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Helvetica', sans-serif;
}


html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #000;
  overflow: hidden;
*/

.neon-button {
    box-shadow: 0 0 50px #FF00FF,
        0 0 50px #FF00FF;
    justify-content: center; 
    text-align: justify;
    align-items: center;
    background-color: #FF00FF;
    font: 'Helvetica', sans-serif;
    font-size: 4em;
  }
  /*
  
.neon-button {
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
      
}

.neon-button: hover { 
    box-shadow: 0 0 50px #FF00FF,
        0 0 50px #FF00FF, 0 0 50px #FF00FF,
        0 0 50px #FF00FF, 0 0 50px #FF00FF;
}
    */   
