
.neon-button {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan;
    justify-content: center; 
    text-align: justify;
    align-items: center;
    background-color: cyan;
    font: "Comic sans ms" cursive;
    font-size: 4em;
    
}

.neon-button: hover { 
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}
       
